@import 'tailwindcss';

@theme {
  --color-brand-blue-900: #97c6fc;
  --color-brand-blue-600: #cee4fd;
}

@layer base {
  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src:
      local('Poppins'),
      url('./fonts/poppins/Poppins-Regular.ttf') format('ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: 600;
    src:
      local('Poppins'),
      url('./fonts/poppins/Poppins-SemiBold.ttf') format('ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src:
      local('Poppins'),
      url('./fonts/poppins/Poppins-Bold.ttf') format('ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-weight: 400;
    src:
      local('Nunito Sans'),
      url('./fonts/nunito/NunitoSans-Regular.ttf') format('ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-weight: 600;
    src:
      local('Nunito Sans'),
      url('./fonts/nunito/NunitoSans-Regular.ttf') format('ttf');
    font-display: swap;
  }

  @font-face {
    font-family: 'Nunito Sans';
    font-weight: 700;
    src:
      local('Nunito Sans'),
      url('./fonts/nunito/NunitoSans-Regular.ttf') format('ttf');
    font-display: swap;
  }
}

@layer components {
  .nav-link-cta {
    @apply focus-within:rounded-md focus-within:bg-gray-900 px-3 py-2 text-sm font-medium text-white hover:text-gray-300;
  }
  .nav-mobile-link-cta {
    @apply block rounded-md px-3 py-2 text-base font-medium text-white hover:text-gray-300;
  }
}

body {
  min-height: 100dvh;
}

.job-role {
  animation:
    typing 3.5s steps(40),
    blink-caret 0.75s step-end infinite;
  border-right: 0.08em solid rgba(5, 242, 203, 0.8);
  color: #5ea1ed;
  font-family: monospace;
  font-size: 1.35rem;
  letter-spacing: 0.15em;
  margin: 10px auto;
  overflow: hidden;
  white-space: nowrap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
